* {
  margin: 0;
  padding: 0;
}
#mainText {
  text-transform: lowercase;
  font-size: 80px;
}
#mainText div:nth-child(2n) {
  color: red;
}
#mainText div:nth-child(2n+1) {
  color: green;
}
#mainText div:nth-child(2n+6) {
  text-decoration: underline;
}
#mainText div:nth-child(n+5) {
  text-transform: uppercase;
}
#mainText div {
  font-size: 1em;
}
#mainText div + div {
  font-size: 0.9em;
}
#mainText div + div + div {
  font-size: 0.8em;
}
#mainText div + div + div + div {
  font-size: 0.7em;
}
#mainText div + div + div + div + div {
  font-size: 0.6em;
}
#mainText div + div + div + div + div + div {
  font-size: 0.5em;
}
#mainText div + div + div + div + div + div + div {
  font-size: 0.4em;
}
#mainText div + div + div + div + div + div + div + div {
  font-size: 0.3em;
}
#mainText div + div + div + div + div + div + div + div + div {
  font-size: 0.2em;
}
#mainText div + div + div + div + div + div + div + div + div + div {
  font-size: 0.1em;
}
.button-container .button-container__button {
  text-decoration: none;
  color: black;
  display: inline-block;
  width: 50px;
  line-height: 50px;
  text-align: center;
  vertical-align: baseline;
  background: azure;
  border: solid 2px blue;
  margin: 5px;
}
