* {
  margin: 0;
  padding: 0;
}
.logo-line {
  height: 300px;
  background-image: url(img/backImage.jpg);
  position: relative;
  width: 100%;
}
.logo-line img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  max-width: 90%;
  opacity: 0.95;
  box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.5);
}
.button-area {
  margin: 10px;
  padding: 15px 25px;
  border: solid 1px #dfdfdf;
}
.button-area .button-area__button-case {
  margin: 15px;
}
.button-area .button-area__button {
  padding: 5px 10px;
  box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  font-weight: bold;
  color: white;
  border: 0;
}
.button-area .button-area__button_color_pink {
  background: linear-gradient(to top, #e52094, #ed65b5);
}
.button-area .button-area__button_color_green {
  background: linear-gradient(to top, #9dc819, #c0e846);
}
.button-area .button-area__button_color_blue {
  background: linear-gradient(to top, #3f8fdf, #81b5ea);
}
.button-area .button-area__button_color_red {
  background: linear-gradient(to top, #eb3d3d, #f28282);
}
.button-area .button-area__button_color_orange {
  background: linear-gradient(to top, #ff6e1a, #ff9e67);
}
.button-area .button-area__button_color_yellow {
  background: linear-gradient(to top, #ffbe2d, #ffd67a);
}
.button-area .button-area__button_size_xs {
  font-size: 8px;
}
.button-area .button-area__button_size_s {
  font-size: 10px;
}
.button-area .button-area__button_size_m {
  font-size: 11px;
}
.button-area .button-area__button_size_l {
  font-size: 25px;
}
.button-area_dark-side {
  background-color: #373737;
}
